.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  padding-top: 55vh;
  padding-left: 5%;
  padding-right: 5%;
}
.left {
  grid-column: 1;
  justify-self: start;
}

.right {
  grid-column: 2;
  justify-self: end;
}

/* .notify {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
} */

.notify {
  background: none;
  border: none;
  padding: 0;
  margin:0;
  cursor: pointer;
  color: #B8860B;
  font: inherit;
  position: relative;
}

/* the line */
.notify::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;          /* place it just below text */
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s ease;
}

/* animate on hover */
.notify:hover::after {
  width: 100%;           /* grows to full text width */
}


.kdj {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #B8860B;
  font: inherit;
  position: relative;
}

.kdj::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3.5px;              /* just below text */
  width: 100%;               /* full width always */
  height: 2px;               /* line thickness */
  background: currentColor;  /* matches text color */
  transform: scaleX(0);      /* hidden (collapsed) */
  transform-origin: center;  /* start from middle */
  transition: transform 0.5s ease;
}

.kdj:hover::after {
  transform: scaleX(1);      /* expand outwards */
}
